{% if page.url == "/" or page.url == "/index.html" %}
<header class="landing">
  <div id="landing-hero">
    <div id="landing-intro">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">{{ page.title }}</div>
          <div class="intro-heading text-uppercase">{{ page.subtitle }}</div>
          <!-- <ul class="free-perks">
            <li>
             <i class="emoji">✨</i>
              <span>Free Taekwondo Class</span>
            </li>
            <li>
              <i class="emoji">🥋</i>
              <span>Uniform + Belt Provided</span>
            </li>
          </ul> -->
          <p class="mb-4">At Taekwondo University in Olive Branch, we’re passionate about helping students of all ages discover their best selves through the art of Taekwondo. Whether you’re just starting your journey or working toward your black belt, our programs build discipline, boost confidence, and inspire personal growth. Step onto the mat and see how far you can go.</p>
          <a class="d-inline-flex align-items-center btn btn-primary btn-md btn-light text-uppercase w-icon" href="tel:9017491800">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20 15.4c-1.2 0-2.4-.2-3.5-.6a1 1 0 0 0-1 .3l-1.6 2a15.2 15.2 0 0 1-6.9-7l2-1.7c.2-.2.3-.6.2-1-.4-1-.6-2.3-.6-3.5 0-.5-.4-1-1-1H4.3C3.6 3 3 3.2 3 4c0 9.3 7.7 17 17 17 .7 0 1-.6 1-1.2v-3.4c0-.6-.5-1-1-1z"/></svg>
          901.794.1800</a> &nbsp;
          <a class="d-inline-flex align-items-center btn btn-primary btn-md btn-light text-uppercase" href="/free">Free Class →</a>
        </div>
      </div>
    </div>
    <div id="landing-video">
      <iframe fetchpriority="high" allowfullscreen="true" class="iframe-full-height" width="100" height="100%" frameborder="0" mozallowfullscreen="true" src="https://player.vimeo.com/video/1056844370?background=1" webkitallowfullscreen="true"></iframe>
    </div>
  </div>
</header>
{% else %}
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">{{ page.title }}</div>
      <div class="intro-heading text-uppercase">{{ page.subtitle }}</div>
      <a class="d-inline-flex align-items-center btn btn-primary btn-md btn-light text-uppercase w-icon" href="tel:9017491800">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20 15.4c-1.2 0-2.4-.2-3.5-.6a1 1 0 0 0-1 .3l-1.6 2a15.2 15.2 0 0 1-6.9-7l2-1.7c.2-.2.3-.6.2-1-.4-1-.6-2.3-.6-3.5 0-.5-.4-1-1-1H4.3C3.6 3 3 3.2 3 4c0 9.3 7.7 17 17 17 .7 0 1-.6 1-1.2v-3.4c0-.6-.5-1-1-1z"/></svg>
      901.794.1800</a>
      <a class="d-inline-flex align-items-center btn btn-primary btn-md btn-light text-uppercase" href="/free">Free Class →</a>

    </div>
    {% if page.youlink != nil %}
    <div class="intro-video">
      <div class='embed-container'>
        <iframe class="lazyload" data-src='https://www.youtube.com/embed/{{ page.youlink }}?rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=0' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>
    {% endif %}
  </div>
</header>
{% endif %}