<header class="landing">
  <div id="landing-hero">
    <div id="landing-intro">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">{{ page.title }}</div>
          <div class="intro-heading text-uppercase">{{ page.subtitle }}</div>
          <ul class="free-perks">
            <li>
             <i class="emoji">✨</i>
              <span>Free Taekwondo Class</span>
            </li>
            <li>
              <i class="emoji">🥋</i>
              <span>Uniform + Belt Provided</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="landing-video">
      <iframe fetchpriority="high" allowfullscreen="true" class="iframe-full-height" width="100" height="100%" frameborder="0" mozallowfullscreen="true" src="https://player.vimeo.com/video/1056844370?background=1" webkitallowfullscreen="true"></iframe>
    </div>
  </div>
</header>