<!-- Navigation -->
<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="nav-container">
    <div class="nav-logo">
      <a class="navbar-brand" href="{{ site.baseurl }}/#">
        {% include tkd-logo-2025.html %}
        <span>Taekwondo University</span>
      </a>
      <a class="nav-call" href="tel:9017491800">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20 15.4c-1.2 0-2.4-.2-3.5-.6a1 1 0 0 0-1 .3l-1.6 2a15.2 15.2 0 0 1-6.9-7l2-1.7c.2-.2.3-.6.2-1-.4-1-.6-2.3-.6-3.5 0-.5-.4-1-1-1H4.3C3.6 3 3 3.2 3 4c0 9.3 7.7 17 17 17 .7 0 1-.6 1-1.2v-3.4c0-.6-.5-1-1-1z" fill="#F9C819"></path></svg>
      </a>
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >Programs</button>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      {% for item in site.data.menu %}
        <li class="nav-item {% if item.link == page.url %}active{% endif %}">
          <a class="nav-link" href="{{ item.link }}">
            {{ item.title }}
            {% if item.micro %}
              <span class="micro">{{ item.micro }}</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
      </ul>
      <a class="btn btn-primary btn-md btn-light" href="/free">Schedule your Free Class</a>
    </div>
  </div>
</nav>
<!-- End Navigation -->