<section class="page-section pt-5 pb-5" id="programs">
	<div class="container">
		<div class="row pb-4">
			<div class="col-lg-12 text-center">
				<h3 class="text-uppercase">Explore our Programs</h3>
				<p class="text-muted">Exclusive programs &mdash; For all ages!</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-lg-4 col-md-4 col-sm-12">
				<div class="portal">
					<div class="portal-img-wrap">
						<img class="lazyload" alt="Little Warriors" data-src="/assets/img/banner/little-warriors.png" width="600" height="320" />
					</div>
					<div class="portal-info">
						<a class="portal-link" href="/little-warriors" aria-label="Little Warriors program for ages 4-6"></a>
						<h6>Little Warriors</h6>
						<span class="micro">4-6 year olds</span>
						<a class="portal-cta" href="/little-warriors">Explore Little Warriors &#8594;</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-md-4 col-sm-12">
				<div class="portal">
					<div class="portal-img-wrap">
						<img class="lazyload" alt="Kids Taekwondo" data-src="/assets/img/banner/team-positive.png" width="600" height="320" />
					</div>
					<div class="portal-info">
						<a class="portal-link" href="/team-positive" aria-label="Kids Taekwondo program for ages 7-12"></a>
						<h6>Kids Taekwondo</h6>
						<span class="micro">7-12 year olds</span>
						<a class="portal-cta" href="/team-positive">Explore Kids Taekwondo &#8594;</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-md-4 col-sm-12">
				<div class="portal">
					<div class="portal-img-wrap">
						<img class="lazyload" alt="Teen / Adult" data-src="/assets/img/banner/teen-adult.png" width="600" height="320" />
					</div>
					<div class="portal-info">
						<a class="portal-link" href="/teen-adult" aria-label="Teen and Adult program for ages 13 and up"></a>
						<h6>Teen / Adult</h6>
						<span class="micro">13+ years old</span>
						<a class="portal-cta" href="/teen-adult">Explore Teen / Adult &#8594;</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>