<section class="page-section pt-5 pb-5" id="programs">
	<div class="container">
		<div class="row pb-4">
			<div class="col-lg-12 text-center">
				<h3 class="text-uppercase">Explore our Programs</h3>
				<p class="text-muted">Exclusive programs &dash; For all ages!</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-6 col-md-4">
				<div class="portal">
					<div class="portal-info">
						<a class="portal-link" href="/after-school"></a>
						<h6>After School Program</h6>
						<span class="micro">K-5th grade</span>
						<p>Learn More &#8594;</p>
					</div>
					<img class="lazyload" alt="After School Program" data-src="/assets/img/banner/
				after-school.png" />
				</div>
			</div>
			<div class="col-6 col-md-4">
				<div class="portal">
					<div class="portal-info">
						<a class="portal-link" href="/little-warriors"></a>
						<h6>Little Warriors</h6>
						<span class="micro">4-6 year olds</span>
						<p>Learn More &#8594;</p>
					</div>
					<img class="lazyload" alt="Little Warriors" data-src="/assets/img/banner/
				little-warriors.png" />
				</div>
			</div>
			<div class="col-6 col-md-4">
				<div class="portal">
					<div class="portal-info">
						<a class="portal-link" href="/summer-camp"></a>
						<h6>Summer Camp</h6>
						<span class="micro">K-5th grade</span>
						<p>Learn More &#8594;</p>
					</div>
					<img class="lazyload" alt="Summer Sports Camp" data-src="/assets/img/banner/
				summer-camp.png" />
				</div>
			</div>
			<div class="col-6 col-md-4">
				<div class="portal">
					<div class="portal-info">
						<a class="portal-link" href="/team-positive"></a>
						<h6>Team Positive</h6>
						<span class="micro">7-12 year olds</span>
						<p>Learn More &#8594;</p>
					</div>
					<img class="lazyload" alt="Team Positive" data-src="/assets/img/banner/
				team-positive.png" />
				</div>
			</div>
			<div class="col-6 col-md-4">
				<div class="portal">
					<div class="portal-info">
						<a class="portal-link" href="/teen-adult"></a>
						<h6>Teen / Adult</h6>
						<span class="micro">13+ years old</span>
						<p>Learn More &#8594;</p>
					</div>
					<img class="lazyload" alt="Team Positive" data-src="/assets/img/banner/
				teen-adult.png" />
				</div>
			</div>
		</div>
	</div>
</section>