<section class="page-section pt-5 pb-5" id="programs">
	<div class="container">
		<div class="row pb-4">
			<div class="col-lg-12 text-center">
				{% include google-badge.html modifier="tw-google-badge--light" %}
				<h2 class="mt-3">Explore our Programs</h2>
				<p>Exclusive programs &mdash; For all ages!</p>
			</div>
		</div>
		<div class="tw-grid md:tw-grid-cols-3 tw-gap-5">
			<div>
				<div class="portal">
					<a class="portal-link" href="/little-warriors" aria-label="Little Warriors program for ages 4-6"></a>
					<div class="portal-img-wrap">
						<img class="lazyload" alt="Little Warriors" data-src="/assets/img/banner/little-warriors.png" width="600" height="600" />
					</div>
					<div class="portal-info">
						<span class="portal-age portal-age--light">4-6 year olds</span>
						<h3>Little Warriors</h3>
						<a class="portal-cta" href="/little-warriors">Explore Little Warriors &#8594;</a>
					</div>
				</div>
			</div>
			<div>
				<div class="portal">
					<a class="portal-link" href="/team-positive" aria-label="Kids Taekwondo program for ages 7-12"></a>
					<div class="portal-img-wrap">
						<img class="lazyload" alt="Kids Taekwondo" data-src="/assets/img/banner/team-positive.png" width="600" height="600" />
					</div>
					<div class="portal-info">
						<span class="portal-age portal-age--red">7-12 year olds</span>
						<h3>Kids Taekwondo</h3>
						<a class="portal-cta" href="/team-positive">Explore Kids Taekwondo &#8594;</a>
					</div>
				</div>
			</div>
			<div>
				<div class="portal">
					<a class="portal-link" href="/teen-adult" aria-label="Teen and Adult program for ages 13 and up"></a>
					<div class="portal-img-wrap">
						<img class="lazyload" alt="Teen / Adult" data-src="/assets/img/banner/teen-adult.png" width="600" height="600" />
					</div>
					<div class="portal-info">
						<span class="portal-age portal-age--gold">13+ years old</span>
						<h3>Teen / Adult</h3>
						<a class="portal-cta" href="/teen-adult">Explore Teen / Adult &#8594;</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
