// Styling for the navbar
#mainNav {
  background: rgba(0,0,0,0.3);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: black;
    border: 0;
    background-color: $primary;
    @include heading-font;

    .fas {margin-left: 5px;}
  }
  .navbar-brand {
    color: $primary;
    @include script-font;

    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }

    svg {
      display: inline-block;
      height: 30px;
      width: auto;
      transform: scale(2.2) translate(4%, 8%);

      @media (min-width: 680px) {transform: scale(2.8) translate(4%, 8%);}
    }
  }
  .navbar-nav {
    .nav-item {

      .nav-link {
        position: relative;
        font-size: 92%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: .5px;
        color: white;
        @include heading-font;

        &.active,
        &:hover {
          color: $primary!important;
        }

        &:before, &:after {
          content: '';
          opacity: 0;
          transform: rotate(-45deg);
          position: absolute;
          bottom: 5px;
          left: 0px;
          right: 0;
          width: 8px;
          height: 4px;
          background: $primary;
          margin: 0 auto;
          transform: rotate(-45deg);
        }
        &:before {
          transition: all .2s ease-in-out;
        }
        &:after {
          transition: all .4s ease-in-out;
        }
      }

      &.active, &:hover {
        .nav-link {
          &:before {
            opacity: 1;
            left: -8px;
          }
          &:after {
            opacity: 1;
            right: -8px;
          }
        }
      }
    }
  }

  &.navbar-shrink {background: rgba(0, 0, 0, 0.7);}
}
@media (min-width: 992px) {
  #mainNav {
    padding: 20px 0;
    // -webkit-transition: padding 0.3s;
    // -moz-transition: padding 0.3s;
    // transition: padding 0.3s;
    border: none;

    .navbar-brand {
      font-size: 1.75em;
      svg {transform: scale(3.5) translate(30%, 10%);}
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em .9em !important;
        }
      }
    }
    &.navbar-shrink {
      padding: 5px 0;

      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;

        svg {transform: scale(2.5) translate(30%, 10%);}
      }
    }
  }
}
