// Styling for the navbar
#mainNav {
  background: rgba(0,0,0,0.25);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  .navbar-toggler {
    font-size: 11.5px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: black;
    border: 0;
    background-color: $primary;
    @include heading-font;

    .fas {
      margin-left: 5px;
      font-size: 1.35em;
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    color: white;
    padding: 0;

    span {
      margin-left: 10px;
      font-size: 16px;
      line-height: 1.2;
      white-space: break-spaces;
      @media (max-width: 776px) {font-size: 15.2px;}
      @media (max-width: 420px) {font-size: 14.8px;}

    }

    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%)!important;
      svg {opacity: .8;}
    }

    svg {
      display: inline-block;
      height: 70px;
      width: auto;
      // transition: .2s ease-out;
      transform: scale(1.25) translate(-3%, 3%);
      
      @media (min-width: 550px) {transform: scale(1.27) translate(.3%, 7%);}
      @media (min-width: 992px) {transform: scale(1.37) translate(0%, 10%);}
    }

    @media (min-width: 992px) {
      span {
        width: 100px;
        padding-top: 2px;
      }
    }
  }

  .navbar-nav {
    .nav-item {

      .nav-link {
        position: relative;
        font-size: 92%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: .4px;
        color: white;
        @include heading-font;

        &.active,
        &:hover {
          color: $primary!important;
        }

        &:before, &:after {
          content: '';
          opacity: 0;
          transform: rotate(-45deg);
          position: absolute;
          bottom: 5px;
          left: 0px;
          right: 0;
          width: 8px;
          height: 4px;
          background: $primary;
          margin: 0 auto;
          transform: rotate(-45deg);

          @media (max-width: 991px) {display: none;}
        }

        &:before {
          transition: all .2s ease-in-out;
        }
        &:after {
          transition: all .4s ease-in-out;
        }
      }

      &.active, &:hover {
        .nav-link {
          &:before {
            opacity: 1;
            left: -8px;
          }
          &:after {
            opacity: 1;
            right: -8px;
          }
        }
      }
    }
  }

  &.navbar-shrink {
    transition: .2s ease-out;
    background: rgba(0, 0, 0, 0.75);
    svg#logo {
      height: 50px;
      transition: .2s ease-out;
    }
  }
}
@media (min-width: 992px) {
  #mainNav {
    padding: 5px 0;
    // -webkit-transition: padding 0.3s;
    // -moz-transition: padding 0.3s;
    // transition: padding 0.3s;
    border: none;

    .navbar-brand {
      // svg {transform: scale(3.5) translate(30%, 10%);}
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.3em .85em !important;
        }
      }
    }
    &.navbar-shrink {
      padding: 5px 0;

      .navbar-brand {
        // svg {transform: scale(2.5) translate(30%, 10%);}
      }
    }
  }
}


.navbar-collapse {
  @media (max-width: 991px) {padding-top: 30px;}
}

@media (max-width: 991px) {
  .navbar>.container, .navbar>.container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (min-width: 992px) {
  .navbar>.container, .navbar>.container-fluid {
    flex: 0;
  }
}