/* Styling for the navbar*/
#mainNav {
  background: rgba(0,0,0,0.25);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

    a.btn {margin-right: 15px;}
  }

  .nav-logo {
    padding-left: 30px;
    padding-right: 0px;
  }

  a.nav-call {
    padding: 13px 4px;
    margin-left: auto;
    margin-right: 20px;
  }
  a.nav-call svg {
    display: inline-block;
    height: 24px;
    width: auto;
  }


  .navbar-toggler {
    font-size: 11.5px;
    right: 0;
    padding: 13px 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    border: 0;
    background-color: $primary;
    @include heading-font;

    .fas {
      margin-left: 5px;
      font-size: 1.35em;
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    color: white;
    padding: 0;

    span {
      margin-left: 10px;
      font-size: 16px;
      line-height: 1.2;
      white-space: break-spaces;
      @media (max-width: 776px) {font-size: 15.2px;}
      @media (max-width: 390px) {
        font-size: 14.8px;
        width: 50%;
      }

    }

    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%)!important;
      svg {opacity: .8;}
    }

    svg {
      display: inline-block;
      height: 70px;
      width: auto;
      // transition: .2s ease-out;
      transform: scale(1.25) translate(-3%, 3%);
      
      @media (min-width: 550px) {transform: scale(1.27) translate(.3%, 7%);}
      @media (min-width: 992px) {transform: scale(1.37) translate(0%, 10%);}
    }

    @media (min-width: 992px) {
      span {
        width: 100px;
        padding-top: 2px;
      }
    }
  }

  .navbar-nav {
    padding-right: 2%;

    .nav-item {

      .nav-link {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        font-size: 92%;
        white-space: nowrap;
        font-weight: 400;
        padding: 1.3em 30px;
        letter-spacing: .4px;
        color: white;
        @include heading-font;

        span.micro {
          font-size: 11px;
          color: #bbb;
          margin-top: -2px;
        }

        &.active,
        &:hover {
          color: $primary!important;
        }

        &:before, &:after {
          content: '';
          opacity: 0;
          transform: rotate(-45deg);
          position: absolute;
          bottom: 5px;
          left: 0px;
          right: 0;
          width: 8px;
          height: 4px;
          background: $primary;
          margin: 0 auto;
          transform: rotate(-45deg);

          @media (max-width: 991px) {display: none;}
        }

        &:before {
          transition: all .2s ease-in-out;
        }
        &:after {
          transition: all .4s ease-in-out;
        }
      }

      &.active, &:hover {
        .nav-link {
          &:before {
            opacity: 1;
            left: -8px;
          }
          &:after {
            opacity: 1;
            right: -8px;
          }
        }
      }
    }
  }

  &.navbar-shrink {
    transition: .2s ease-out;
    background: rgba(0, 0, 0, 0.75);
    svg#logo {
      height: 50px;
      transition: .2s ease-out;
    }
  }
}

@media (max-width: 1300px) {
  .nav-link {
    padding: 1.3em 20px !important;
  }
}


@media (max-width: 1150px) {
  .nav-link {
    padding: 1.3em 12px !important;
  }
}



@media (min-width: 992px) {
  #mainNav {
    padding: 5px 0;
    border: none;

    .navbar-brand {
      /*   // svg {transform: scale(3.5) translate(30%, 10%);}*/
    }
    &.navbar-shrink {
      padding: 5px 0;

      .navbar-brand {
/*        // svg {transform: scale(2.5) translate(30%, 10%);}*/
      }
    }
  }
  a.nav-call {display: none;}
}

@media (max-width: 991px) {

  #mainNav .nav-container {
    flex-direction: column!important;
  }

  #mainNav .nav-container a.btn {
    margin-right: 0;
    margin-top: 20px;
  }

  .nav-logo {
    padding-left: 0px!important;
    padding-right: 0px!important;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-collapse {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }

  .nav-link {
    align-items: baseline!important;  
    width: 100%!important;
    padding: .6em 0 !important;
  }

}


@media (max-width: 991px) {
  #mainNav {background: rgba(0, 0, 0, 0.75);}
  .navbar>.container, .navbar>.container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (min-width: 992px) {
  .navbar>.container, .navbar>.container-fluid {
    flex: 0;
  }
}



@media (max-width: 550px) {
  #mainNav .nav-container a.btn {
    width: 100%;
    text-align: center;
  }
}