---
layout: default
---
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      {% if page.subtitle %}<h1 class="intro-lead-in">{{ page.subtitle | escape }}</h1>{% endif %}
      <h2 class="intro-heading">{{ page.title | escape }}</h2>
    </div>
  </div>
</header>

<div class="container" id="pagecontainer">
  <section class="page-section">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        {{ content }}
      </div>
    </div>
  </section>
</div>
