<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
  	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6BLVK3"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
  	{% include nav.html %}
    <div id="page" class="{{ page.title | slugify }}">
      <div id="content">{{ content }}</div>
      
      {% include footer.html %}
	</div>
		<!-- LazySizes.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- Bootstrap core JavaScript -->
	  <script src="assets/js/jquery.min.js"></script>
	  <script src="assets/js/bootstrap.bundle.min.js"></script>
	  <!-- Plugin JavaScript -->
	  <script src="assets/js/jquery.easing.min.js"></script>
	  <!-- Contact form JavaScript -->
	  <script src="assets/js/jqBootstrapValidation.js"></script>
	  <script src="assets/js/contact_me.js"></script>
	  <!-- Custom scripts for this template -->
	  <script src="assets/js/agency.min.js"></script>
  </body>
</html>