// Styling for the footer
.footer {
  padding: 0;
  text-align: center;
  border-top: 1px solid #f1f1f1;

  span.copyright {
    display: block;
    font-size: 90%;
    line-height: 1.8em;
    text-transform: none;
    margin: 0 0 .5em 0;
    @include heading-font;
  }
  ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    @include heading-font;
  }
}

.pre-footer {
  background-color: #f9f9f9;
  padding: 45px 0;
}
.footer-notes {
  background-color: #333;
  padding: 3em 0 5em 0;
  color: #fff;
}

ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      font-size: 20px;
      line-height: 50px;
      display: block;
      width: 50px;
      height: 50px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      color: white;
      border-radius: 100%;
      outline: none;
      background-color: $gray-900;
      &:active,
      &:focus,
      &:hover {
        background-color: $primary;
      }
    }
  }
}
