/* // Styling for the masthead */
header.masthead {
  text-align: center;
  color: white;
  background-color: #333;
  // background-image: url("#{$header-image}");
  // background-repeat: no-repeat;
  // background-attachment: scroll;
  // background-position: center center;
  // background-size: cover;
  .intro-text {
    padding-top: 120px;
    padding-bottom: 40px;

    a.btn {margin-top: .5em; margin-bottom: .5em;}
    a.btn:nth-of-type(2) {margin-left: 1em;}

    @media (min-width: 768px) {
      padding-top: 135px;
      padding-bottom: 40px;
    }
  }
}

.intro-lead-in {
  @include script-font;
  font-size: 17.5px;
  line-height: 1.4em;
  margin-bottom: .6em;
  @media (min-width: 768px) {
    font-size: 22px;
  }
  @media (min-width: 992px) {font-size: 25px;}
}
.intro-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25em;
  margin-bottom: .3em;
  @include heading-font;
  @media (min-width: 768px) {
    font-size: 27px;
    font-weight: 700;
  }
  @media (min-width: 992px) {
    font-size: 30px;
  }
}

header.landing .intro-heading {
  font-size: calc(20px + 1vw);
}

.intro-video {
  position: relative;
  background-color: #333;
  max-width: 720px;
  margin: -10px auto 0 auto;
  transform: translateY(8%);
  box-shadow: 0 20px 50px -20px rgba(32,32,32,.8);

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 4%;
    right: 4%;
    bottom: 0;
    background-color: $primary;
    opacity: 1;
    animation: vidSkew .25s cubic-bezier(0, 0, 0.4, 2.5) .6s forwards;
    z-index: -1;
  }
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #222;
  z-index: 2;
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes vidSkew {
  0{transform: skewY(0deg);}
  100% {transform: skewY(-5.5deg);}
}


@media (max-width: 990px) {
  header.landing .intro-text {
    padding-top: 30px;
  }
}
@media (max-width: 550px) {
  header.landing .intro-text {
    padding-top: 50px;
  }
}
